{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block head %}
<meta charset="utf-8">
<meta name="description" content="Pleblvl - Ark Server Manager"> {% endblock %} {% block body %}
<div class="hero" style="background-image: url('{{ url_for('static', filename='images/bg.jpg')}}')">
	<div class="container">
		<div class="row center-align">
			<h1>Easily manage your ARK server</h1>
			<h3>Pleblvl Ark Server Manager</h3>
		</div>
		<div class="row center-align">
			<a class="waves-effect waves-light btn">Demo</a>
		</div>
	</div>
	<div class="container screenshot">
		<div class="center-align">
			<img src="{{ url_for('static', filename='images/screenshot.png') }}" />
		</div>
	</div>
</div>
<div class="features">
	<div class="feature">
		<div class="row valign-wrapper">
			<div class="col s6 valign">
				<h2>Communicate with players on the server</h2>
				<p class="flow-text">
					Talking with players on your server or even issuing commands is easy with the chat panel
				</p>
			</div>
			<div class="col s6">
				<img class="feature-img" src="{{ url_for('static', filename='images/feature1.png') }}">
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="row valign-wrapper">
			<div class="col s6 valign">
				<h2>Communicate with players on the server</h2>
				<p class="flow-text">
					Talking with players on your server or even issuing commands is easy with the chat panel
				</p>
			</div>
			<div class="col s6">
				<img class="feature-img" src="{{ url_for('static', filename='images/feature1.png') }}">
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="row valign-wrapper">
			<div class="col s6 valign">
				<h2>Communicate with players on the server</h2>
				<p class="flow-text">
					Talking with players on your server or even issuing commands is easy with the chat panel
				</p>
			</div>
			<div class="col s6">
				<img class="feature-img" src="{{ url_for('static', filename='images/feature1.png') }}">
			</div>
		</div>
	</div>
</div>
{% endblock %}
